@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Runde';
  src: url(/fonts/OpenRunde-Regular.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
  font-family: 'Open Runde';
  src: url(/fonts/OpenRunde-Medium.woff2) format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Open Runde';
	src: url(/fonts/OpenRunde-Semibold.woff2) format('woff2');
	font-weight: 600;
}

@font-face {
  font-family: 'Open Runde';
  src: url(/fonts/OpenRunde-Bold.woff2) format('woff2');
	font-weight: 700;
}


@layer base {
	:root {
		--background: 0 0% 0%;
		--foreground: 0 0% 98%;
		--foreground-secondary: 240 5% 64.9%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--floating: 240 10% 3.9%;
		--floating-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 0% 7.5%;
		--secondary: 0 0% 12.5%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 60.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 0% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--cursor: 0 100% 100%;
		--scrollbar: 0 0% 12.5%;
		--brand: 228.9 77.4% 73.9%;

		color-scheme: dark;
		font-family: 'Open Runde', system-ui, Avenir, Helvetica, Arial, sans-serif;
	}
}

@layer base {
	* {
		@apply border-border
	}
	body {
		@apply bg-background text-foreground;
	}
}

::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--scrollbar));
	border-radius: 10px;
}

svg {
	pointer-events: none;
}